h1 {
  position: fixed;
  left: 50%;
  translate: -50% -100%;
}
#button1 {
  position: fixed;
  left: 50%;
  top: 10%;
  translate: -50%;
}
h3 {
  color: white;
  position: fixed;
  left: 50%;
  top: 15%;
  translate: -50%;
  -webkit-text-stroke-width: o.5px;
  -webkit-text-stroke-color: black;
}
body {
  background-image: url("https://i.ibb.co/4RCYCvNW/cringe100.png");
}
#button4 {
  position: fixed;
  left: 50%;
  top: 20%;
  translate: -50%;
}
