h1 {
  position: fixed;
  left: 50%;
  top: 10%;
  translate: -50% -100%;
  font-size: 60px;
}
#button1 {
  position: fixed;
  left: 50%;
  top: 30%;
  translate: -50%;
  font-size: 60px;
}
h3 {
  color: white;
  position: fixed;
  left: 50%;
  top: 45%;
  translate: -50%;
  background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2b, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 60px;
}
body {
  background-image: url("https://i.ibb.co/4RCYCvNW/cringe100.png");
}
#button4 {
  position: fixed;
  left: 50%;
  top: 60%;
  translate: -50%;
  font-size: 60px;
}
#id5 {
  position: fixed;
  left: 50%;
  top: 65%;
  translate: -50%;
  font-size: 200px;
}
#button2 {
  font-size: 60px;
}
#button3 {
  font-size: 60px;
}
