h1 {
  position: fixed;
  top: 0%;
  left: 50%;
  translate: -50%;
}
button {
  position: fixed;
  left: 50%;
  top: 10%;
  translate: -50%;
}
h3 {
  position: fixed;
  left: 50%;
  top: 15%;
  translate: -50%;
  color: white;
}