h1 {
  position: fixed;
  left: 50%;
  translate: -50% -100%;
}
#button1 {
  position: fixed;
  left: 50%;
  top: 10%;
  translate: -50%;
}
h3 {
  color: white;
  position: fixed;
  left: 50%;
  top: 15%;
  translate: -50%;
}
body {
  background-image: url("https://i.ibb.co/4RCYCvNW/cringe100.png");
}
